-
  var products = [
    {
      disabled: false,
      name: 'Нямушка',
      taste: 'с фуа-гра',
      props: [
        '<strong>10</strong> порций',
        'мышь в подарок'
      ],
      weight: '0,5',
      footerSelected: 'Печень утки разварная с артишоками.'
    },
    {
      disabled: false,
      name: 'Нямушка',
      taste: 'с рыбой',
      props: [
        '<strong>40</strong> порций',
        '<strong>2</strong> мыши в подарок'
      ],
      weight: '2',
      footerSelected: 'Головы щучьи с чесноком да свежайшая сёмгушка.'
    },
    {
      disabled: true,
      name: 'Нямушка',
      taste: 'с курой',
      props: [
        '<strong>100</strong> порций',
        '<strong>5</strong> мышей в подарок',
        'заказчик доволен'
      ],
      weight: '5',
      footerSelected: 'Филе из цыплят с трюфелями в бульоне.'
    }
  ]
