.cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__item {
    flex: 0 0 320px;
    max-width: 320px;
  }
}

@media (max-width: 1023px) {
  .cards-list {
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      margin-bottom: 30px;

      &:first-child {
        margin-right: auto;
      }

      &:nth-child(2) {
        margin-left: auto;
      }

      &:last-child {
        margin: 0 10%;
      }
    }
  }
}

@media (max-width: 767px) {
  .cards-list {
    display: block;

    &__item {
      margin: 0 auto 30px;

      &:last-child {
        margin: 0 auto 30px;
      }
    }
  }
}
