.product {
  display: block;
  width: 100%;
  max-width: 320px;
  font-family: var(--font-main);

  &__card {
    display: block;
    width: 100%;
    height: 480px;
    padding: 4px;
    margin-bottom: 13px;
    background: linear-gradient(135deg, transparent 5%, var(--color-bg-default) 5.1%);
    border-radius: 14px;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 19px 10px 12px 43px;
    border-radius: 14px;
    background: linear-gradient(135deg, transparent 5%, var(--color-bg-card) 5.1%);
    line-height: 1;
    cursor: pointer;
    overflow: hidden;
  }

  &__header {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: var(--color-text-gray);

    &_hover {
      display: none;
      color: var(--color-text-hover);
    }
  }

  &__name {
    margin: 0 0 5px 0;
    font-size: 48px;
    font-weight: bold;
    color: var(--color-text-dark);
  }

  &__taste {
    margin: 0 0 17px 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-text-dark);
  }

  &__props {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: var(--color-text-gray);
    line-height: 1.15;
  }

  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  &__weight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 12px;
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 50%;
    background-color: var(--color-bg-default);
    text-align: center;
    font-size: 42px;
    color: var(--color-text-light);

    & small {
      display: block;
      font-size: 21px;
    }
  }

  &__footer {
    margin: 0;
    font-size: 13px;
    text-align: center;
    color: var(--color-text-light);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1); 

    &_selected {
      display: none;
    }

    &_disabled {
      display: none;
      color: var(--color-text-yellow);
    }
  }

  &__buy-link {
    border-bottom: 1px dashed;
    color: var(--color-text-link);
    cursor: pointer;

    &:hover {
      color: var(--color-bg-hover);
    }
  }

  &__checkbox {
    display: block;
    width: 0;
    height: 0;
    appearance: none;

    /* наведение и фокус, когда продукт не выбран */
    &:not(:checked):not(.is-changed) + .product__card:hover,
    &:not(:checked):not(.is-changed):focus + .product__card {
      background: linear-gradient(135deg, transparent 5%, var(--color-bg-hover) 5.1%);

      & .product__weight {
        background-color: var(--color-bg-hover);
      }
    }

    /* продукт выбран */
    &:checked + .product__card,
    &:checked:focus + .product__card {
      background: linear-gradient(135deg, transparent 5%, var(--color-bg-selected) 5.1%);

      & .product__weight {
        background-color: var(--color-bg-selected);
      }

      & ~ .product__footer_default {
        display: none;
      }

      & ~ .product__footer_selected {
        display: block;
      }
    }

    /* продукт выбран, фокус/наведение вернулись */
    &:checked:not(.is-changed) + .product__card:hover,
    &:checked:not(.is-changed):focus + .product__card {
      & .product__header_default {
        display: none;
      }

      & .product__header_hover {
        display: block;
      }
    }

    /* продукт недоступен */
    &:disabled + .product__card {
      pointer-events: none;
      background: linear-gradient(135deg, transparent 5%, var(--color-bg-disabled) 5.1%);

      & .product__header,
      & .product__name,
      & .product__taste,
      & .product__props {
        color: var(--color-text-disabled);
      }

      & .product__img {
        opacity: .5;
      }

      & .product__weight {
        background-color: var(--color-bg-disabled);
      }

      & ~ .product__footer_default {
        display: none;
      }

      & ~ .product__footer_disabled {
        display: block;
      }
    }
  }
}
