.product {
  font-family: var(--font-main);

  &__card {
    position: relative;
    width: 320px;
    height: 480px;
    margin-bottom: 13px;
    padding: 23px 14px 16px 47px;
    border-radius: 10px;
    background-image: svg-load('../../i/border.svg',
                                fill='none',
                                stroke='var(--color-bg-default)');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    line-height: 1;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      border-radius: 10px;
      background-image: url('../i/cat.png'),
                        svg-load('../../i/border.svg',
                                  fill='var(--color-bg-card)',
                                  stroke='var(--color-bg-card)');
      background-repeat: no-repeat;
      background-position: left bottom,
                           center;
      background-size: auto,
                       100% 100%;
      z-index: -1;
    }
  }

  &__header {
    font-size: 16px;
    color: var(--color-text-gray);
    margin-bottom: 10px;

    &_hover {
      display: none;
      color: var(--color-text-hover);
    }
  }

  &__name {
    font-size: 48px;
    font-weight: bold;
    color: var(--color-text-dark);
    margin-bottom: 5px;
  }

  &__taste {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-text-dark);
    margin-bottom: 17px;
  }

  &__props {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: var(--color-text-gray);
    line-height: 1.15;
  }

  &__weight {
    position: absolute;
    bottom: 15px;
    right: 16px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-bg-default);
    text-align: center;
    font-size: 42px;
    color: var(--color-text-light);

    & span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & small {
      display: block;
      font-size: 21px;
    }
  }

  &__footer {
    color: var(--color-text-light);
    font-size: 13px;
    text-align: center;

    & a {
      color: var(--color-text-link);
      text-decoration: none;
      border-bottom: 1px dashed;
    }

    &_selected {
      display: none;
    }

    &_disabled {
      display: none;
      color: var(--color-text-yellow);
    }
  }

  &_hover {

    & .product__card {
      background-image: svg-load('../../i/border.svg',
                                  fill='none',
                                  stroke='var(--color-bg-hover)');
    }

    & .product__weight {
      background-color: var(--color-bg-hover);
    }
  }

  &_selected {

    & .product__card {
      background-image: svg-load('../../i/border.svg',
                                  fill='none',
                                  stroke='var(--color-bg-selected)');
    }

    & .product__weight {
      background-color: var(--color-bg-selected);
    }

    & .product__footer {
      display: none;

      &_selected {
        display: block;
      }
    }

    &.product_hover {

      & .product__header {
        display: none;

        &_hover {
          display: block;
        }
      }
    }
  }

  &_disabled {
    pointer-events: none;

    & .product__card {
      background-image: svg-load('../../i/border.svg',
                                  fill='rgba(255, 255, 255, .7)',
                                  stroke='var(--color-bg-disabled)');
    }

    & .product__header,
    & .product__name,
    & .product__taste,
    & .product__props {
      color: var(--color-text-disabled);
    }

    & .product__weight {
      background-color: var(--color-bg-disabled);
    }

    & .product__footer {
      display: none;

      &_disabled {
        display: block;
      }
    }
  }
}
