include tmpl/product.pug

doctype html

head
  meta(charset='UTF-8')/
  meta(name='viewport', content='width=device-width, initial-scale=1')/
  link(rel='stylesheet', href='css/styles.css')/
  title FunBox Test

body.page
  section.page__container
    h1.page__title= pageTitle
    ul.products-list
      each p, index in products
        li.products-list__item
          +product(p, index)

  script(src='js/bundle.js')
